[VERSION]
major = 1
minor = 0

[GENERAL]
atc_type = "TT:ATCCOM.ATC_NAME CESSNA.0.text"
atc_model = "TT:ATCCOM.AC_MODEL C152.0.text"
Category = "airplane"
pilot = "Pilot_Female_Casual"
copilot = "Pilot_Male_Casual"
instructor = "Pilot_Male_Casual"
performance = "Todo"
icao_type_designator = "C152"
icao_manufacturer = "CESSNA"
icao_model = "152"
icao_engine_type = "Piston"
icao_engine_count = 1
icao_WTC = "L"

[PILOT]
pilot = "Pilot_Female_Casual"
copilot = "Pilot_Male_Casual"
instructor = "Pilot_Male_Casual"
pilot_default_animation = "Idle1_PosePropeller"
copilot_default_animation = "Idle2_PosePropeller"
pilot_attach_node = "PILOT_0"
copilot_attach_node = "PILOT_1"

[SERVICES]
FUELTRUCK = 1
BAGGAGE_LOADER = 0
CATERING_TRUCK = 0
BOARDING_RAMP = 0
GROUND_POWER_UNIT = 0
PUSHBACK = 0
SMALL_PUSHBACK = 1
MARSHALLER = 1
JETWAY = 0

[EFFECTS]
wake = fx_wake
water = fx_spray ; (feet) distance from FlightSim Reference position: (1/4 chord, centerline, waterline)
dirt = fx_tchdrt
concrete = fx_sparks
touchdown = fx_tchdwn_s, 1

;===================== FLTSIM =====================

[FLTSIM.0]
title = "Cessna 152X" ; Variation name
model = "" ; model folder
panel = "" ; panel folder
sound = "" ; sound folder
texture = "" ; texture folder
kb_checklists = "" ; Procedures/Checklist sibling file name
kb_reference = "" ; Reference information sibling file name
description = "TT:AIRCRAFT.DESCRIPTION" ; Variation description.
wip_indicator = 0 ; know if the variation is good to go or still WIP : -1=Disabled, 0=Rough, 1=1st Pass, 2=Finished
ui_manufacturer = "TT:AIRCRAFT.UI_MANUFACTURER" ; e.g. Boeing, Cessna
ui_type = "TT:AIRCRAFT.UI_MODEL" ; e.g. 747-400, 172
ui_variation = "TT:AIRCRAFT.LIVERY.DEFAULT" ; e.g. World Air, IFR Panel
ui_typerole = "Single Engine Prop" ; e.g. Single Engine Prop, Twin Engine Prop, Rotorcraft, etc
ui_createdby = "Asobo/C152X" ; e.g. Asobo Studio, Microsoft, FSAddonCompany, etc
ui_thumbnailfile = "" ; app relative path to ThumbNail image file
ui_certified_ceiling = 14700 ; service ceiling / max certified operating altitude (ft)
ui_max_range = 690 ; max distance the aircraft can fly between take-off and landing in (NM) ;long range tanks
ui_autonomy = 8.7 ; max duration the aircraft can fly between take-off and landing in (Hrs) ;long range tanks
ui_fuel_burn_rate = 40 ; average fuel consumption per hour (lbs/hr) - reminder: fuel density is ~6.7lbs per US gallon
atc_id = "VH-XSR" ; tail number
atc_id_enable = 1 ; enable tail number
atc_airline = "" ; airline name
atc_flight_number = "" ; flight number
atc_heavy = 0 ; heavy?
atc_parking_types = "RAMP" ; "ANY" / "RAMP" / "CARGO" / "MIL_CARGO" / "MIL_COMBAT" / "GATE" / "DOCK"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_id_color = "" ; color for the tail number : i.e. "#ffff00ff"
atc_id_font = "" ; font for the tail number
isAirTraffic = 0 ; Is the plane usable for air traffic
isUserSelectable = 1 ; Is the plane selectable by the user

