[VERSION]
major = 1
minor = 0

[WEIGHT_AND_BALANCE]
max_gross_weight = 1670 ; Empty weight, (LBS)
empty_weight = 1081 ; Empty weight, (LBS)
reference_datum_position = 7.2, 0, 0 ; Position of reference datum relative to FS(0,0,0) (FEET), z, x, y
empty_weight_CG_position = -5.5, 0, 0 ; Position of airplane empty weight CG relative to reference datum (FEET), z, x, y
CG_forward_limit = 0.12 ; Gravity center forward limit in %MAX (divided by 100: 0.12 = 12%MAC)
CG_aft_limit = 0.34 ; Gravity center aft limit in %MAX (divided by 100: 0.34 = 34%MAC)
empty_weight_pitch_MOI = 1717 ; Empty pitch moment of inertia, Jxx (SLUG SQ FEET)
empty_weight_roll_MOI = 1388 ; Empty roll moment of inertia, Jzz (SLUG SQ FEET)
empty_weight_yaw_MOI = 2770 ; Empty yaw moment of inertia, Jyy (SLUG SQ FEET)
empty_weight_coupled_MOI = 10 ; Empty transverse moment of inertia, Jyz (SLUG SQ FEET)
activate_mach_limit_based_on_cg = 0 ; Activate mach limitation depending on CG position (true if > 0 /false othewise). Mostly for Concorde).
activate_cg_limit_based_on_mach = 0 ; Activate cg limitation depending on mach value (true if > 0 /false othewise). Mostly for Concorde).
max_number_of_stations = 2 ; Number of payload stations
station_load.0 = 170, -7.5, -0.86, 0, TT:MENU.PAYLOAD.PILOT, 1
station_load.1 = 170, -7.5, 0.86, 0, TT:MENU.PAYLOAD.FRONT_PAX, 2

[CONTACT_POINTS]
static_pitch = 0.6 ; degrees, pitch when at rest on the ground (+=Up, -=Dn)
static_cg_height = 3.15 ; feet, altitude of CG when at rest on the ground
gear_system_type = 0 ; gear system type (betweeen 0 and 4) 0 = electrical, 1 = hydraulic, 2 = pneumatic, 3 = manual, 4 = none, 5 = undefined
tailwheel_lock = 0 ; Is tailwheel lock available TRUE/FALSE
max_number_of_points = 11 ; Number of contact points
gear_locked_on_ground = 0 ; Defines whether or not the landing gear handle is locked to down when the plane is on the ground.
gear_locked_above_speed = -1 ; Defines the speed at which the landing gear handle becomes locked in the up position. (-1 = Disabled)
max_speed_full_steering = 10 ; Defines the speed under which the full angle of steering is available (in feet/second).
max_speed_decreasing_steering = 20 ; Defines the speed above which the angle of steering stops decreasing (in feet/second).
min_available_steering_angle_pct = 0.2 ; Defines the percentage of steering which will always be available even above max_speed_decreasing_steering (in percent over 100).
max_speed_full_steering_castering = 20 ; Defines the speed under which the full angle of steering is available for free castering wheels (in feet/second).
max_speed_decreasing_steering_castering = 40 ; Defines the speed above which the angle of steering stops decreasing for free castering wheels  (in feet/second).
min_castering_angle = 0.05236 ; Defines the minimum angle a free castering wheel can take (in radians).
max_castering_angle = 3.14159265358979 ; Defines the maximum angle a free castering wheel can take (in radians).
point.0 = 1, -2.7, 0, -3.45, 750, 0, 0.523, 15, 0.245, 1.33, 0.8, 0, 0, 0, 165, 165, 4
point.1 = 1, -7.9, -4, -3.30, 1500, 1, 0.523, 0, 0.162, 2, 0.8, 0, 0, 2, 165, 165, 4
point.2 = 1, -7.9, 4, -3.30, 1500, 2, 0.523, 0, 0.162, 2, 0.8, 0, 0, 3, 165, 165, 4
point.3 = 17, -0.2, 0, 0.6, 1, 0, 0, 0, 0, 0, 0, 0, 0, 7, 0, 0
point.4 = 2, -6, 0, 2.7, 350, 0, 0, 0, 0, 0, 0, 0, 0, 8, 0, 0
point.5 = 2, -6.8, -16.5, 2.7, 350, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0
point.6 = 2, -6.8, 16.5, 2.7, 350, 0, 0, 0, 0, 0, 0, 0, 0, 6, 0, 0
point.7 = 2, -20, 0, 0, 750, 0, 0, 0, 0, 0, 0, 0, 0, 7, 0, 0
point.8 = 2, -20, -5, 0.8, 350, 0, 0, 0, 0, 0, 0, 0, 7, 0, 0, 0
point.9 = 2, -20, 5, 0.8, 350, 0, 0, 0, 0, 0, 0, 0, 0, 7, 0, 0
point.10 = 2, -23.1, 0, 5.4, 350, 0, 0, 0, 0, 0, 0, 0, 0, 9, 0, 0

[FUEL]
;
;Short range tanks
;LeftMain = -6.5, -4, 2.6, 13, 0.75 ; For each tank: Tank position (z longitudinal, x lateral, y vertical) (FEET), total fuel capacity (GALLONS), unusable fuel capacity (GALLONS)  **SG updated
;RightMain = -6.5, 4, 2.6, 13, 0.75 ; **SG updated
;Panel currently has long range tanks...
LeftMain = -6.5, -4, 2.6, 19.5, 0.75 ; For each tank: Tank position (z longitudinal, x lateral, y vertical) (FEET), total fuel capacity (GALLONS), unusable fuel capacity (GALLONS)  **SG updated
RightMain = -6.5, 4, 2.6, 19.5, 0.75 ; **SG updated
Center1 = -3.6, 0, 0, 0, 0
Center2 = -3.6, 0, 0, 0, 0
Center3 = -3.6, 0, 0, 0, 0
LeftAux = -3.6, 0, 0, 0, 0
LeftTip = -3.6, 0, 0, 0, 0
RightAux = -3.6, 0, 0, 0, 0
RightTip = -3.6, 0, 0, 0, 0
External1 = -3.6, 0, 0, 0, 0
External2 = -3.6, 0, 0, 0, 0
fuel_type = 1 ; 1 = OCTANE 100, 2 = JET_A, 3 = OCTANE 80, 4 = AUTO GAS, 5 = JET B
number_of_tank_selectors = 1 ; Max 4
electric_pump = 0
engine_driven_pump = 1
manual_transfer_pump = 0
manual_pump = 0
anemometer_pump = 0
fuel_dump_rate = 0.02
default_fuel_tank_selector.1 = 1 ; Default fuel selector used in case of autostart for engine 1, default is ALL.
default_fuel_tank_selector.2 = 1 ; Default fuel selector used in case of autostart for engine 2, default is ALL.
default_fuel_tank_selector.3 = 1 ; Default fuel selector used in case of autostart for engine 3, default is ALL.
default_fuel_tank_selector.4 = 1 ; Default fuel selector used in case of autostart for engine 4, default is ALL.

[AIRPLANE_GEOMETRY]
wing_area = 159.5 ; Wing area S (SQUARE FEET)  **SG updated
wing_span = 33.33 ; Wing span b (FEET)	**SG updated
wing_root_chord = 5.5 ; Wing root chord croot (FEET)
wing_camber = 1 ; (DEGREES)
wing_thickness_ratio = 0.033 ; Local thickness is local_chord(x)*wing_thickness_ratio, x = lateral coord
wing_dihedral = 1.5 ; Dihedral angle Lambda (DEGREES)
wing_incidence = 0 ; Wing incidence (DEGREES)
wing_twist = 0 ; Wing twist epsilon (DEGREES)  **SG updated originally -2
oswald_efficiency_factor = 0.95 ; Wing Oswald efficiency factor e (non dimensional)
wing_winglets_flag = 0 ; Has winglets true/false
wing_sweep = 0 ; Wing sweep (DEGREES)  **SG updated originally 2
wing_pos_apex_lon = -7.41723 ; Longitudinal (z) position of wing apex w.r.t reference datum (FEET)
wing_pos_apex_vert = 2.25 ; Vertical (y) position of wing apex w.r.t reference datum (FEET)
htail_area = 15 ; Horizontal tail area (SQUARE FEET)
htail_span = 8.5 ; Horizontal tail span (FEET)
htail_pos_lon = -20 ; Longitudinal (z) position of horizontal tail  w.r.t reference datum (FEET)
htail_pos_vert = 0.9 ; Vertical (y) position of horizontal tail  w.r.t reference datum (FEET)
htail_incidence = 1 ; Horizontal tail incidence (DEGREES)
htail_sweep = 10 ; Horizontal tail sweep angle (DEGREES)
htail_thickness_ratio = 0.04 ; Local thickness is local_chord(x)*htail_thickness_ratio, x = lateral coord
vtail_area = 14.22 ; Vertical tail area (SQUARE FEET)
vtail_span = 5 ; Vertical tail span (FEET)
vtail_sweep = 40 ; Vertical tail sweep angle (DEGREES)
vtail_pos_lon = -19.5 ; Longitudinal (z) position of vertical tail  w.r.t reference datum (FEET)
vtail_pos_vert = 2.75 ; Vertical (y) position of vertical tail  w.r.t reference datum (FEET)
vtail_thickness_ratio = 0.04 ; Local thickness is local_chord(x)*vtail_thickness_ratio, x = lateral coord
fuselage_length = 22 ; Nose to tail (FEET)
fuselage_diameter = 3.5
fuselage_center_pos = -9, 0, 0.25
elevator_area = 15 ; Elevator area (SQUARE FEET)
aileron_area = 20 ; Elevator area (SQUARE FEET)
rudder_area = 14 ; Elevator area (SQUARE FEET)
elevator_up_limit = 25 ; Elevator max deflection up angle (DEGREES)
elevator_down_limit = 18 ; Elevator max deflection down angle (absolute value) (DEGREES)
aileron_up_limit = 20 ; Aileron max deflection  angle (DEGREES)
aileron_down_limit = 15 ; Aileron max deflection down angle (absolute value) (DEGREES)
rudder_limit = 23 ; Rudder max deflection angle (absolute value) (DEGREES)
rudder_trim_limit = 0 ; Rudder trim max deflection angle (absolute value) (DEGREES)
elevator_trim_limit = 19.5 ; Elevator trim max angle (absolute value) (DEGREES)
spoiler_limit = 0 ; Spoiler max deflection angle (absolute value) (DEGREES)
spoilerons_available = 0 ; Aircraft has spoilerons true/false
aileron_to_spoileron_gain = 0 ; Aileron influence on spoileron angle (non-dimensional)
min_ailerons_for_spoilerons = 0 ; Minimum aileron deflection (absolute value) in which spoilerons are active (DEGREES)
min_flaps_for_spoilerons = 0 ; Minimum flaps deflection (absolute value) in which spoilerons are active (DEGREES)
spoiler_extension_time = 0 ; Spoilers extension time (SECONDS)
spoiler_handle_available = 0 ; Spoiler handles available true/false
auto_spoiler_available = 0 ; Auto spoilers available true/false
auto_spoiler_min_speed = 0 ; Auto spoilers minimum trigger speed
positive_g_limit_flaps_up = 4.4 ; Flap positive load limit when up. Same dimension as gravity vector FEET/SECONDS^2 **SG updated originally 4
positive_g_limit_flaps_down = 3.5 ; Flap positive load limit when down. Same dimension as gravity vector FEET/SECONDS^2 **SG updated originally 3.8
negative_g_limit_flaps_up = -1.76 ; Flap negative load limit when up. Same dimension as gravity vector FEET/SECONDS^2 **SG updated originally -3.2
negative_g_limit_flaps_down = -1.76 ; Flap negative load limit when down. Same dimension as gravity vector FEET/SECONDS^2 **SG updated originally -2.4
load_safety_factor = 1.5 ; Flap negative load limit when down. Same dimension as gravity vector FEET/SECONDS^2
elevator_trim_neutral = 1 ; Elevator trim max angle (absolute value) (DEGREES), for indicators only (no influence on flight model)
aileron_to_rudder_scale = 0 ; non-dimensional
flap_to_aileron_scale = 0 ; non-dimensional
fly_by_wire = 0 ; Fly-by-wire available true/false
elevator_elasticity_table = 0:1, 10:1, 50:0.5, 100:0.333333, 200:0.1
aileron_elasticity_table = 0:1, 10:1, 50:0.5, 100:0.333333, 200:0.1
rudder_elasticity_table = 0:1, 10:1, 50:0.5, 100:0.333333, 200:0.1
elevator_trim_elasticity_table = 0:1, 10:1, 50:0.5, 100:0.333333, 200:0.1

[AERODYNAMICS]
lift_coef_pitch_rate = -12.277 ; The change in lift per change in pitch rate
lift_coef_daoa = 0 ; lift per change in angle of attack rate
lift_coef_delta_elevator = -1.032 ; The change in lift per change in elevator deflection
lift_coef_horizontal_incidence = 0 ; The change in lift per change in horizontal incidence angle
lift_coef_flaps = 0.3522 ; Change in lift due to flaps
lift_coef_spoilers = 0 ; Change in lift due to spoilers
drag_coef_zero_lift = 0.0320 ; The zero lift drag polar
drag_coef_flaps = 0.0602
drag_coef_gear = 0.01
drag_coef_spoilers = 0
side_force_slip_angle = -2.229 ; (yaw angle) The change in side force per change in side slip angle
side_force_roll_rate = 0.279 ; (roll velocity)  The change in side force per change in roll rate
side_force_yaw_rate = 2.689 ; (yaw velocity) The change in side force per change in yaw rate
side_force_delta_rudder = -2.186 ; The change in side force per change in rudder deflection
pitch_moment_horizontal_incidence = 0 ; The change in pitch moment per change in horizontal incidence angle
pitch_moment_delta_elevator = -3.237 ; The change in pitch moment per change in elevator deflection
pitch_moment_delta_trim = -3.237 ; The change in pitch moment per change in trim
pitch_moment_pitch_damping = -108.961 ; The change in pitch moment per change in pitch rate(PRIMARY PITCH STABILITY FACTOR). deg/s
pitch_moment_aoa_0 = -0.031 ; Pitch moment at zero angle - of - attack
pitch_moment_daoa = 0 ; The change in pitch moment per change in angle of attack
pitch_moment_flaps = 0.0 ; The pitch moment due to flaps
pitch_moment_gear = 0 ; The pitch moment due to gear
pitch_moment_spoilers = 0 ; The pitch moment due to spoilers
pitch_moment_delta_elevator_propwash = 0
pitch_moment_pitch_propwash = 0 ;**SG updated was 0 effect???
roll_moment_slip_angle = 0.293 ; The change in roll moment per sideslip angle(DIHEDRAL EFFECT)
roll_moment_roll_damping = -1.988
roll_moment_yaw_rate = -0.231
roll_moment_spoilers = 0 ; The change in roll moment due to spoilers
roll_moment_delta_aileron = -0.313 ; (control)The change in roll moment per change in aileron deflection
roll_moment_delta_rudder = 0.192 ; (control)The change in roll moment per change rudder deflection
roll_moment_delta_aileron_trim_scalar = -0.313 ; Change in roll moment due to aileron trim
yaw_moment_slip_angle = 0.929 ; The change in yaw moment per change sideslip angle(WEATHER VANING EFFECT)
yaw_moment_roll = 0.065 ; (adverse yaw) The change in yaw moment per change in roll rate deg/s
yaw_moment_yaw_damping = -4.825 ; (damping)The change in yaw moment per change in yaw rate(PRIMARY YAW STABILITY FACTOR deg/s)
yaw_moment_yaw_propwash = 0 ; (damping)
yaw_moment_delta_aileron = 0.002 ; (adverse yaw)  The change in yaw moment per change aileron deflection
yaw_moment_delta_rudder = 0.974 ; (control)The change in yaw moment per change in rudder deflection PRIMARY YAW POWER FACTOR
yaw_moment_delta_rudder_propwash = 0 ; (control)
yaw_moment_delta_rudder_trim_scalar = 0.974 ; Change in yaw moment due to rudder trim
compute_aero_center = 0
aero_center_lift = 1 ; Init to center
lift_coef_aoa_table = -3.15:0, -0.8:-0.989, -0.4:-0.71, -0.2:-0.474, -0.1:-0.281, 0:0.2, 0.2:1.105, 0.23:1.201, 0.26:1.3961, 0.29:1.27, 0.31:1.233, 0.4:0.772, 0.8:0.979, 3.15:0
lift_coef_ground_effect_mach_table = 0:1.2
lift_coef_mach_table = 0:1
lift_coef_delta_elevator_mach_table = 0:0
lift_coef_daoa_mach_table = 0:0
lift_coef_pitch_rate_mach_table = 0:0
lift_coef_horizontal_incidence_mach_table = 0:0
drag_coef_zero_lift_mach_tab = 0:0, 0.57:0, 0.58:0.05, 0.6:0.1, 0.65:0.2, 1:0.2, 1.2:0.027846, 1.4:0.02638, 1.6:0.024426, 1.8:0.02296, 2:0.021495, 2.2:0.020518, 2.4:0.020029, 2.6:0.019541, 2.8:0.019541, 3:0.019541, 3.2:0.019541
side_force_slip_angle_mach_table = 0:0
side_force_delta_rudder_mach_table = 0:0
side_force_yaw_rate_mach_table = 0:0
side_force_roll_rate_mach_table = 0:0
pitch_moment_aoa_table = -3.15:0, -0.8:-0.947, -0.4:-0.522, -0.2:-0.167, -0.1:-0.062, 0:0, 0.2:0.216, 0.23:0.26, 0.26:0.308, 0.29:0.363, 0.31:0.4, 0.4:0.473, 0.8:0.923, 3.15:0
pitch_moment_delta_elevator_aoa_table = -180:-1, -40:0.612, -20:0.837, -10:0.93, -5:0.968, 0:1, 5:0.974, 10:0.93, 20:0.824, 40:0.577, 180:-1 ; AoA(alpha) is given in DEGREES
pitch_moment_horizontal_incidence_aoa_table = 0:1 ; AoA(alpha) is given in DEGREES
pitch_moment_daoa_aoa_table = 0:1 ; AoA(alpha) is given in DEGREES
pitch_moment_pitch_alpha_table = 0:1 ; AoA(alpha) is given in DEGREES
pitch_moment_delta_elevator_mach_table = 0:0
pitch_moment_daoa_mach_table = 0:0
pitch_moment_pitch_rate_mach_table = 0:0
pitch_moment_horizontal_incidence_mach_table = 0:0
pitch_moment_aoa_0_mach_table = 0:0
roll_moment_aoa_table = 0:0 ; Cl (roll moment coef) versus AoA
roll_moment_slip_angle_aoa_table = 0:1
roll_moment_roll_rate_aoa_table = 0:1
roll_moment_delta_aileron_aoa_table = 0:1
roll_moment_slip_angle_mach_table = 0:0
roll_moment_delta_rudder_mach_table = 0:0
roll_moment_delta_aileron_mach_table = 0:0
roll_moment_yaw_rate_mach_table = 0:0
roll_moment_roll_rate_mach_table = 0:0
yaw_moment_aoa_table = 0:0 ; Cn (yaw moment coef) versus AoA
yaw_moment_slip_angle_aoa_table = 0:1
yaw_moment_yaw_rate_aoa_table = 0:1
yaw_moment_delta_rudder_aoa_table = 0:1
yaw_moment_slip_angle_mach_table = 0:0
yaw_moment_delta_rudder_mach_table = 0:0
yaw_moment_delta_aileron_mach_table = 0:0
yaw_moment_yaw_rate_mach_table = 0:0
yaw_moment_roll_rate_mach_table = 0:0
elevator_scaling_table = -0.366519:1, -0.244346:1, -0.122173:1, 0:1, 0.162897:1, 0.325795:1, 0.488692:1 ; scales control based on its deflection
aileron_scaling_table = -0.261799:1, -0.174533:1, -0.087266:1, 0:1, 0.116355:1, 0.232711:1, 0.349066:1 ; scales control based on its deflection
rudder_scaling_table = -0.418879:1, -0.279253:1, -0.139626:1, 0:1, 0.139626:1, 0.279253:1, 0.418879:1 ; scales control based on its deflection
aileron_load_factor_effectiveness_table = 0:1, 2:1, 4:1, 8:1, 10:1 ; scaling of roll_moment_delta_aileron versus gravity forces, G effects on aileron effectiveness, acts on roll_moment_delta_aileron
lift_coef_at_drag_zero = 0.1
lift_coef_at_drag_zero_flaps = 0.1

[FLIGHT_TUNING]
cruise_lift_scalar = 1
parasite_drag_scalar = 1
induced_drag_scalar = 1.4
flap_induced_drag_scalar = 1.6
elevator_effectiveness = 1
elevator_maxangle_scalar = 0.9
aileron_effectiveness = 1.25
rudder_effectiveness = 1
rudder_maxangle_scalar = 0.66
pitch_stability = 0.33
roll_stability = 0.25
yaw_stability = 0.25
elevator_trim_effectiveness = 1
aileron_trim_effectiveness = 1
rudder_trim_effectiveness = 1
hi_alpha_on_roll = 0	; **SG updated 1 no effect? originally 0  
hi_alpha_on_yaw = 0		; **SG updated 1 no effect? originally 0  
p_factor_on_yaw = 1
torque_on_roll = 1
gyro_precession_on_roll = 1
gyro_precession_on_yaw = 1
engine_wash_on_roll = 1 ; Torque effect

[REFERENCE SPEEDS]
full_flaps_stall_speed = 42 ; Knots True (KTAS)  **SG updated KCAS = 42 @ average cg/S.L. (originally 33)
flaps_up_stall_speed = 47 ; Knots True (KTAS)  **SG updated KCAS = 42 @ average cg/S.L. (originally 40)
cruise_speed = 107 ; Knots True (KTAS)   **SG 75% at 8000ft
max_mach = 0.3
max_indicated_speed = 149 ; Red line (KIAS)
max_flaps_extended = 85	; **SG updated originally 91
normal_operating_speed = 111 ; **SG updated originally 129
airspeed_indicator_max = 170 ; **SG updated originally 200
rotation_speed_min = 50 ; Min speed required (Kts)
climb_speed = 65 ; Climb speed (Kts)
cruise_alt = 1500 ; (ft)
takeoff_speed = 50 ; Takeoff Speed (Kts)
spawn_cruise_altitude = 1500 ; Spawn Cruise Altitude (ft)
spawn_descent_altitude = 500 ; Spawn Descent Altitude (ft)
best_angle_climb_speed = 55 ; Best angle climb speed (Kts)  **SG updated originally 0
approach_speed = 65 ; Approach speed (Kts) **SG updated originally 0
best_glide = 60 ; Best Glide (Kts) **SG updated originally 0

[INTERACTIVE POINTS]
number_of_interactive_points = 0

;===================== FLAPS =====================

[FLAPS.0]
type = 1 ; Flap type 0 = None, 1 = trailing edge, 2 = leading edge
system_type = 0 ; Flap system type 0 = electrical, 1 = hydraulic, 2 = pneumatic, 3 = manual, 4 = none
span-outboard = 0.4 ; Outboard span area (added area) (percentage, non dimensional)
extending-time = 5 ; Flap extension time (SECONDS)
damaging-speed = 120 ; Speed above which flap is damaged (Kts)
blowout-speed = 170 ; Speed above which flap is blown out (Kts)
maneuvering_flaps = 0
lift_scalar = 1.9 ; Scalar coefficient to ponderate global flap lift coef (non dimensioned)
drag_scalar = 1.9 ; Scalar coefficient to ponderate global flap drag coef (non dimensioned)
pitch_scalar = 1 ; Scalar coefficient to ponderate global flap pitch coef (non dimensioned)
max_on_ground_position = 3 ; Dynamically set in-tool to last flap-position index by defaut when -1 is found.
flaps-position.0 = 0, -1, 0
flaps-position.1 = 10, -1, 0.25
flaps-position.2 = 20, -1, 0.75
flaps-position.3 = 30, -1, 1

